
header {                            /*this is to give some styles to header */
    height: 22vh;
    background-color: black;
    padding: 0;                                   
    margin: 0;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

#technoshop-logo {
    
    grid-column: 1 / 4;
    height: 18vh;
    width: 8vw;
    margin: 2vh 3vw;
}

header div {

    grid-column: 4 / 10;
    text-align: center;
}

header div h1 {
    margin: 2vh 0 1vh 0;
    font-size: 4vw;
    color: #faf287;
    font-weight: bold;
    text-shadow: 4px 4px 4px orange;
    
}

header div p {
    margin: 0;
    font-size: 1.7vw;
    color: black;
    color: #faf287;
    font-weight: bold;
    font-style: italic;
    text-shadow: 4px 4px 4px orange;
}

#header-gif {
    grid-column: 10 / 13;
    height: 18vh;
    width: 15vw;
    justify-self: right;
    margin-right: 3vw;
}


nav {
    background-color: #d6d7d8;
}

nav ul {
    margin: 0;
    padding: 1vh 0;
    list-style-type: none;
    display: flex;         
    gap: 2vw;             
    justify-content: space-evenly;      
    flex-wrap: wrap;                    
}



nav ul li a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 1.3vw;
}

nav ul li a:hover {
    color: orangered;
}

footer {                                   /* this is to give some styles to footer*/
    clear: both;
    display: grid;
    grid-template-columns: repeat(1fr, 12);
    grid-template-rows: auto auto;
    color: white;
    font-size: 1.2vw;
    background-color: black;
}

#footer-about-us {

    grid-row: 1 / 2;
    grid-column: 1 / 4;
    padding-left: 3vw;
    
}

#footer-about-us img {
    height: 25vh;
    width: 14vw;
    padding: 1vw;
    margin: 0;
}

footer span {
    font-weight: bold;
}

#footer-navigation {

    grid-row: 1 / 2;
    grid-column: 4 / 7;
}

#footer-navigation ul {
    list-style-type: '‣  ';
}

#footer-navigation a {
    text-decoration: none;
    color: white;
}

#footer-navigation a:hover {
    text-decoration: underline;
    color: white;
}

#footer-shop {

    grid-row: 1 / 2;
    grid-column: 7 / 10;
}

#footer-shop ul {
    list-style-type: '‣  ';
}

#footer-shop a {
    text-decoration: none;
    color: white;
}

#footer-shop a:hover {
    text-decoration: underline;
    color: white;
}

#footer-team-members {

    grid-row: 1 / 2;
    grid-column: 10 / 13;
}

#footer-team-members ul {
    list-style-type: '‣  ';
}

#footer-copyright {

    grid-row: 2 / 3;
    grid-column: 1 / 13;
    justify-self: center;
    margin: 3vh;
    font-size: 1.5vw;
    font-weight: bold;
}

.fa {
    padding: 0.5vw;
    font-size: 2.5vw;
    width: 2.5vw;
    text-align: center;
    text-decoration: none;
    margin: 0 1vw;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

main{
                                 /*this is for main content*/
    float: right;
    width: 1000px;
    
}
aside{
                                   /*this is for aside bar menu*/
    height: 6em;
    margin-left: 2em;
    float: left;
    width: 180px;
    margin-left: 100px;
    
}

#left ul {
    padding-left: 1em;
    
}
h2{
    color:RGB(136, 176, 75);
    font-size: 50px;
}
h1{
    color: darkblue;
    border-radius: 7px 7px 0px 0px;
    font-size: 50px;
}


.faqs{
    padding: 0px 20px 20px;
}
body {
    width: auto;
    box-shadow: black;
    margin: auto;
    background: #f6f6f6;
  
  background-size: 100% ;
    
}
a {
    text-decoration: none;
    font-size: 20px;
}
#return{
    text-decoration: none;
}



.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: black;
    float: left;
    margin-right: 25px;
    padding: 0%;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
.accordion {
    background: hsl(0, 0%, 96%);
    padding:  20px;
    border-radius: 7px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: cadetblue;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    
  }
  
  
  .active, .accordion:hover {
    background-color: cadetblue;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    font-weight: bold;
    transition: max-height 0.2s ease-out;
    font-size: 18px;
  }
@media screen and (max-width: 1100px){
    
    #wrapper{
        width: 100%;
        border: none;
        box-shadow: none;
        display: flex;              
        flex-direction: column;
    }
    header{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    nav ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
                               
    }
    aside{
        margin-top: 0px;
    }
    main{
        order: 2;
        width: 100%;
        margin-top: 300px;
        
    }
    footer{
        width: auto;
        order: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #technoshop-logo {
        height: 20%;
        width: 20%;
        align-self: center;
    }
   header h1{
        height: 10%;
        width: 10%;
    }
    #header-gif {
        height: 18vh;
        width: 15vw;
    }
    nav ul li a {
        font-weight: bold;
        color: black;
        text-decoration: none;
        font-size: 20px;
    }
    #footer-about-us {

       font-size: 15px;
        
    }
    
    #footer-about-us img {
        height: 20%;
        width: 20%;
    }
    #footer-navigation h4{
        font-size: 15px;
    }
    #footer-shop h4{
        font-size: 15px;
    }
  
    #footer-team-members {
        font-size: 13px;
    }
    #footer-copyright{
        font-size: 13px;
    }
    .accordion:after {
        content: '\02795'; /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: black;
        float: left;
        margin-right: 25px;
        padding: 0%;
      }
      
      .active:after {
        content: "\2796"; /* Unicode character for "minus" sign (-) */
      }
    .accordion {
        background: hsl(0, 0%, 96%);
        padding:  20px;
        border-radius: 7px;
        margin-top: 20px;
        font-family: 'Times New Roman', Times, serif;
        background-color: cadetblue;
        width: 100%;
        font-weight: bold;
        font-size: 20px;
        text-align: left;
        
      }
      
      .active, .accordion:hover {
        background-color: cadetblue;
      }
      
      /* Style the accordion panel. Note: hidden by default */
      .panel {
        padding: 0 18px;
        background-color: white;
        display: none;
        overflow: hidden;
        font-weight: bold;
        transition: max-height 0.2s ease-out;
      }
}