/* Css for shopping cart page*/
.cs{
    border: 2px solid;
      background-color: #fdfcc2;
}
.container{
      
      margin: 0 auto;
  }
  
  .container > h1{
      margin-left: 450px;
      padding: 20px 0;;
  }
  .cart{
      display: flex;
      margin-left: 300px;
  }
#product{
      display: flex;
      width: 80%;
      height: 200px;
      border: 1px solid black;
      margin-bottom: 20px;
}
#product:hover{
    border: none;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    transform: scale(1.01);
}
#product > img{
      width: 275px;
      height: 200px;
      object-fit: cover;
  }

#product1{
      display: flex;
      width: 80%;
      height: 200px;
      border: 1px solid black;
      margin-bottom: 20px;
}
#product1:hover{
    border: none;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    transform: scale(1.01);
}
#product1 > img{
      width: 275px;
      height: 200px;
      object-fit: cover;
  }
 


  #products{
      flex: 0.75;
  }
  
  #product > img:hover{
      transform: scale(1.04);
  }
  #product-info{
      padding: 20px;
      width: 100%;
      position: relative;
  }
  #product-name, #product-price, #product-offer{
      margin-bottom: 10px;
  }
  #product-remove{
      position: absolute;
      bottom: 20px;
      right: 20px;
      padding: 10px 25px;
      background-color: green;
      color: white;
      border-radius: 5px;
  }
  #product-remove:hover{
      background-color: white;
      color: green;
      font-weight: 600;
      border: 1px solid green;
  }
#product-quantity > input{
      width: 40px;
      padding: 5px;
      text-align: center;
}
#product1 > img:hover{
    transform: scale(1.04);
}
#product1-info{
    padding: 20px;
    width: 100%;
    position: relative;
}
#product1-name, #product1-price, #product1-offer{
    margin-bottom: 10px;
}
#product1-remove{
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
    background-color: green;
    color: white;
    border-radius: 5px;
}
#product1-remove:hover{
    background-color: white;
    color: green;
    font-weight: 600;
    border: 1px solid green;
}
#product1-quantity > input{
    width: 40px;
    padding: 5px;
    text-align: center;
}
.fa{
    margin-right: 5px;
}
.cart-total{
    flex: 0.25;
    width: 78%;
    padding: 10px;
    height: 230px;
    
}
.cart-total p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
}
.cart-total a{
    color: white;
}
.b{
    margin-left: 250px;
    background-color: tomato;
     height: 50px;
    width: 150px;
}
.b:hover{
    background-color: red;
}
/*css for contact us page*/

  .container{
      border: 2px solid;
      background-color: #fdfcc2;
  }
  .cs
{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ci{
    max-width: 500px;
    line-height: 65px;
    padding-left: 50px;
    font-size: 18px;
}
.cf{
    max-width: 700px;
    margin-right: 50px;
}
.ci, .cf{
    flex: 1;
}
.cf h2{
    color:black;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.cf .text-box{
    background: rgb(214, 211, 211);
    color: black;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0,0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}
.cf .text-box:first-child{
    margin-right: 15px;
}
.cf textarea{
    background: rgb(214, 211, 211);;
    color: black;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0,0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}
.cf .send-btn{
    float: right;
    background: #2E94E3;
    color: white;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background;
}
.cf .send-btn:hover
{
    background: #0582E3;
}

@media screen and (max-width:950px) {
.cs{
        flex-direction: column;
 }


.ci , .cf{
    margin: 30px 50px;
}
.cf h2{
    font-size: 30px;
}
.cf .text-box{
    width: 100%;
}
}